<footer class="footer-mobile-tablet w-100 bg-truewhite">
    <div class="fixed-footer flex flex-nowrap  space-between">
      <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
      <a class="t-d-none black" href="/"><i class="footer-icon fa-solid fa-house w-100"></i></a>
      <p class="footer-header black w-100 text-center">Inicio</p>
      </div>
      <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
        <a class="t-d-none black" href="#"><i class="footer-icon fa-solid fa-heart w-100"></i></a>
        <p class="footer-header black w-100 text-center">Favoritos</p>
      </div>
      <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
        <a class="t-d-none black" href="/carrito"><i class="footer-icon fa-solid fa-cart-shopping w-100"></i></a>
        <p class="footer-header black w-100 text-center">Carrito</p>
      </div>
      <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
        <a class="t-d-none black" href="#"><i class="footer-icon fa-solid fa-bell w-100"></i></a>
        <p class="footer-header black w-100 text-center">Notificaciones</p>
      </div>
      <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
        <a class="t-d-none black" href="#"><i class="footer-icon fa-solid fa-bars w-100"></i> </a>
        <p class="footer-header black w-100 text-center">Mas</p>
      </div>
    </div>
  </footer>
   <footer class="footer-desktop flex flex-nowrap bg-darkblue">
    <div class="footer-left w-30 p-10 b-r-4">
      <img class="w-100" src="/images/LOGO EASY FIX.png">
      <div class="redes-sociales felx wrap text-center white ">
      <i class="icon-redes-sociales fa-brands fa-twitter w-100 m-8"></i>
      <i class=" icon-redes-sociales fa-brands fa-instagram w-100 m-8"></i>
      <i class=" icon-redes-sociales fa-brands fa-facebook w-100 m-8"></i>
      </div>
    </div>
    <section class="footer-right w-70 p-10 flex flex-wrap ">
      <article class="footer-artice m-10 w-100 flex flex-wrap center white ">
        <i class="icon-footer-article fa-solid fa-shield-halved  m-8 w-100 text-center" ></i>
        <h2>Compras protegidas</h2>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ducimus laudantium porro. Ex ipsam corrupti cumque enim molestias eligendi ipsa, aspernatur molestiae quisquam perspiciatis labore eos voluptate. Accusantium, voluptate aperiam.</p>
      </article>
      <article class="footer-artice m-10 w-100 flex flex-wrap center white ">
        <i class=" icon-footer-article fa-solid fa-certificate  m-8 w-100 text-center"></i>
        <h2>Profesionales verificados</h2>
        <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sapiente et, aut consectetur eveniet quam sequi officiis incidunt ab ducimus similique, magnam amet fuga iste maiores nesciunt tempora ex. Nemo!</p>
      </article>
      <article class="footer-artice m-10 w-100 end flex flex-nowrap end align-end white ">
        <p class="copyright opacity">Copyright © 2022 EasyFix S.R.L.</p>
      </article>
      </section>
  </footer>