<header class="header-desktop bg-darkblue">
    <div class="desktop-header-top flex flex-nowrap align-center p2-8 space-around">
          <h1 class="w-30">
              <img class="w-100 m-8" src="/images/LOGO EASY FIX.png" alt="Easy Fix">
          </h1>
          <input class= "search-bar w-50 m-8" type="search" name="Buscar">
    </div>
    <div class="desktop-header-buttom flex flex-nowrap space-around">
      <a class="t-d-none black" href= "/" ><h2 class="desktop-header-buttom-h2 white ">Home</h2></a>
      <a class="t-d-none black" href= "/login" ><h2 class="desktop-header-buttom-h2 white ">Ingresar</h2></a>
      <a class="t-d-none black" href= "/register" ><h2 class="desktop-header-buttom-h2 white ">Registrarse</h2></a>
      <a class="t-d-none black" href= "/carrito" ><h2 class="desktop-header-buttom-h2 white ">Carrito</h2></a>
      <a class="t-d-none black" href= "#" ><h2 class="mas-buttom desktop-header-buttom-h2 white ">Mas</h2></a>
    </div>
  </header>
  <header class="mobile-tablet-header b-gradient-blue-to-grey">
      <div class="nav-bar-top  flex flex-nowrap  align-center p2-8">
          <h1 class="w-50">
              <img class="w-100 m-8" src="/images/LOGO EASY FIX.png" alt="Easy Fix">
          </h1>
          <input class= "search-bar w-50 m-8" type="search" name="Buscar">
      </div>
      <nav class="nav-bar-bottom  p-b-10 ">
          <ul class="flex flex-nowrap space-around align-center">
            <div class=" flex flex-wrap m-8 align-center center ">
            <li class="l-s-none b-1-hidden shadow " ><a class="t-d-none black" href= "#funciona" ><i class="blue fa-solid fa-question"></i></a></li>
            <p class="blue f-w-700 f-9  m-t-8 w-100 text-center">¿Como funciona?</p>
            </div>
            <div class=" flex flex-wrap m-8 align-center center ">
            <li class="l-s-none b-1-hidden shadow " ><a class="t-d-none black" href="#"> <i class="blue fa-solid fa-magnifying-glass-dollar"></i></a></li>
            <p class="blue f-w-700 f-9  m-t-8 w-100 text-center">Ofertas</p>
            </div>
            <div class=" flex flex-wrap m-8 align-center center ">
            <li class="l-s-none b-1-hidden shadow"><a class="t-d-none black" href="/login"><i class="blue fa-solid fa-right-to-bracket"></i></a></li>
            <p class="blue f-w-700 f-9  m-t-8 w-100 text-center">Ingresa</p>
            </div>
            <div class=" flex flex-wrap m-8 align-center center">
            <li class="l-s-none b-1-hidden shadow" ><a class="t-d-none black" href="/register"><i class="blue fa-solid fa-address-card"></i></a></li>
            <p class="blue f-w-700 f-9  m-t-8 w-100 text-center">registrate</p>
            </div>
            <div class=" flex flex-wrap m-8 align-center center">
              <li class="l-s-none b-1-hidden shadow" ><a class="t-d-none black" href="/worker-register"><i class="blue fa-solid fa-upload"></i></a></li>
              <p class="blue f-w-700 f-9  m-t-8 w-100 text-center">Ofrecer servicio</p>
              </div>
          </ul>
      </nav>
  </header>