<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/utils.css" />

    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>
      <%- include('./partials/header') %>
      <section class="container p-30 bg-gray">
        <div class="card">
          <figure><img src="/images/plomero.jpg" alt=""></figure>
          <div class="contenido">
            <h4>Plomero</h4>
          <p>Descripcion de profesion Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, inventore.</p>
          <a href="#">Profesionales</a>
          </div>
        </div>
        <div class="card">
          <figure><img src="/images/pintor.jpg" alt=""></figure>
          <div class="contenido">
            <h4>Pintor</h4>
          <p>Descripcion de profesion Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, inventore.</p>
          <a href="#">Profecionales</a>
          </div>
        </div>
        <div class="card">
          <figure><img src="images/electricista.jpg" alt=""></figure>
          <div class="contenido">
            <h4>Electricista</h4>
          <p>Descripcion de profesion Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, inventore.</p>
          <a href="/product/options">Profesionales</a>
          </div>
        </div>
        <div class="card">
          <figure><img src="images/carpintero.jpg" alt=""></figure>
          <div class="contenido">
            <h4>Carpintero</h4>
          <p>Descripcion de profesion Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, inventore.</p>
          <a href="#">Profecionales</a>
          </div>
        </div>
        <div class="card">
          <figure><img src="images/gasista.jpg" alt=""></figure>
          <div class="contenido">
            <h4>Gasista</h4>
          <p>Descripcion de profesion Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, inventore.</p>
          <a href="#">Profecionales</a>
          </div>
        </div>
        <div class="card">
          <figure><img src="images/tec-aire.png" alt=""></figure>
          <div class="contenido">
            <h4>Tec. de aire</h4>
          <p>Descripcion de profecion Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, inventore.</p>
          <a href="#">Profesionales</a>
          </div>
        </div>
        <div class="card">
          <figure><img src="images/albañil.jpg" alt=""></figure>
          <div class="contenido">
            <h4>Albañil</h4>
            <p>Descripcion de profesion Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, inventore.</p>
            <a href="#">Profesionales</a>
        </div>
        </div>
        <div class="card">
          <figure><img src="images/cam-seguridad.jpg" alt=""></figure>
          <div class="contenido">
            <h4>Seguridad</h4>
          <p>Descripcion de profesion Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, inventore.</p>
          <a href="#">Profesionales</a>
          </div>
        </div>
        <div class="card">
          <figure><img src="images/jardineria.jpg" alt=""></figure>
          <div class="contenido">
            <h4>Jardineria</h4>
          <p>Descripcion de profesion Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, inventore.</p>
          <a href="#">Profesionales</a>
          </div>
        </div>
        <div class="card">
          <figure><img src="images/niñera.jpg" alt=""></figure>
          <div class="contenido">
            <h4>Niñera</h4>
          <p>Descripcion de profesion Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, inventore.</p>
          <a href="#">Profesionales</a>
          </div>
        </div>
        <div class="card">
          <figure><img src="images/tec-pc.jpg" alt=""></figure>
          <div class="contenido">
            <h4>Tec. de PC</h4>
          <p>Descripcion de profesion Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, inventore.</p>
          <a href="#">Profesionales</a>
          </div>
        </div>
        <div class="card">
          <figure><img src="images/mudanza.jpg" alt=""></figure>
          <div class="contenido">
            <h4>Mudanza</h4>
          <p>Descripcion de profesion Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, inventore.</p>
          <a href="#">Profesionales</a>
          </div>
        </div>
      </section>
      
      <section class="tarjetas p-30 bg-gray">
    <div class="p-10 bg-darkblue b-1-hidden b-radius-4">
        <div class="mb-20">
          <h2 class="white text-center">¿Como funciona Easy Fix?</h2>
          <h3 class="white text-center">Segui estos pasos</h3>
        </div>
      <div class="flex flex-nowrap space-around mb-20">
        <div class="tarjetas-div b-solid-white b-radius-4 p-15">
          <p class="tarjetas-div-p  white w-100 ">Registrate</p>
        </div>
        <div class=" tarjetas-div b-solid-white b-radius-4 p-15">
          <p class="tarjetas-div-p  white w-100 ">Elegi un profesional</p>
        </div>
        <div class="tarjetas-div b-solid-white b-radius-4 p-15">
          <p class="tarjetas-div-p  white w-100 ">Contratalo</p>
        </div>
      </div>
    </div>
    
      </section>

      <section class="comentarios p-30 bg-gray">
        <div class="card-contenedor">
          <figure class="img-contenedor">
              <img src="images/fotocomentario1.jpg" alt="">
          </figure>
          <div class="text-contenedor">
            <h3>Carlos Meza</h3>
              <p class="descripcion">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias ullam voluptate, odit modi quas.</p>
            <div class="estrellas">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          </div>
        </div>
        <div class="card-contenedor">
          <figure class="img-contenedor">
              <img src="images/fotocomentario2.jpg" alt="">
          </figure>
          <div class="text-contenedor">
            <h3>Gustavo Caceres</h3>
              <p class="descripcion">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias ullam voluptate, odit modi quas.</p>
            <div class="estrellas">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          </div>
        </div>
        <div class="card-contenedor">
          <figure class="img-contenedor">
              <img src="images/fotocomentario3.jpg" alt="">
          </figure>
          <div class="text-contenedor">
            <h3>Roberto Prato</h3>
              <p class="descripcion">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias ullam voluptate, odit modi quas.</p>
            <div class="estrellas">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          </div>
        </div>
        <div class="card-contenedor">
          <figure class="img-contenedor">
              <img src="images/fotocomentario4.jpg" alt="">
          </figure>
          <div class="text-contenedor">
            <h3>Carmelo frias</h3>
              <p class="descripcion">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias ullam voluptate, odit modi quas.</p>
            <div class="estrellas">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          </div>
        </div>
      </section>
      <%- include('./partials/footer') %> 
  </body>
  </html>