<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs")  %> 
</head>
<body>
    <%- include ("./partials/header-nav.ejs") %>
    <section class="container d-flex justify-content-center">
      <article class="col-12 col-xl-6">
        <div class="d-flex justify-content-center ">
          <h3 class="m-20">Inicia sesion</h3>
        </div>
        <!-- Email input -->

        <div class="m-20">
          <form class="form-outline mb-4 mt-4" method="POST" action="/user/login">
            <input type="text" id="form2Example1" class="form-control mb-4" name="email" placeholder="Email" />
                  <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                      <p> <%= errors.email.msg %> </p>
                    </div>
                  <% } %>
        
          <!-- Password input -->
            <input type="password" id="form2Example2" class="form-control mb-4" name="password" placeholder="Contraseña" />
          
        
          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center"> 
              <!--    Checkbox -->
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
              </label>
            </div>     
          </div>
          
          <!-- Submit button -->
          <div class="d-flex just">
            <button type="submit" class="btn btn-danger mb-4">Ingresa</button>
          </div>
        </form>
      </div>
        <div class="col d-flex justify-content-center">
          <!-- Simple link -->
          <a href="#!">Olvidaste tu contraseña?</a>
        </div>
      
        <!-- Register buttons -->
        <div class="text-center mb-4">
          <p>No tienes cuenta? <a href="/user/register">Registrate</a></p>
          <p>o inicia con:</p>
          <button type="button" class="btn btn-danger btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
      
          <button type="button" class="btn btn-danger btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
      
          <button type="button" class="btn btn-danger btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
      
          <button type="button" class="btn btn-danger btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </article>
    </section>
    <%- include ("./partials/footer.ejs")  %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>