<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %>

    
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/utils.css" />

    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="bg-gray flex space-evenly align-center" >
          <form action="login.html" method="POST" class=" bg-gray b-1-hidden b-radius-4 m-20 p-15 creat-form control-form" >
           <div ><label for="NombreUsuario" class="hidden"> Nombre de usuario:</label>
           <input type="text" name="NombreUsuario" placeholder="Nombre de Usuario" class=" b-1-hidden b-radius-4 p-10" >
           </input></div>
           <div > <label for="contrasenia" class="hidden"> Contraseña:</label>
           <input type="password" name="contrasenia" placeholder="contraseña" class=" b-1-hidden b-radius-4 p-10" >
           </input></div>
           <div><button type="submit"  class=" b-1-hidden b-radius-4 botton-form p-10"> Login </button></div>
        </form>
    </main>
    <%- include('./partials/footer') %> 
  </body>
  </html>