<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %> 

    
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/utils.css" />

    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>
    <%- include('./partials/header') %>
    <main  class="bg-gray flex space-evenly align-center">
      <form action="register.html" method="POST" class="b-orange b-1-hidden b-radius-4 m-20 p-15 creat-form form-field">
        <div class="control-form"> <label for="fotoperfil"> Foto usuario:</label>
        <input type="file" name="fotoperfil" placeholder="fotoperfil" class=" b-1-hidden b-radius-4 p-10 flex flex-wrap">
        </input></div>
        <div class="control-form"> <label for="NombreCompleto"> Nombre y apellido:</label>
        <input type="text" name="Nombre" placeholder="Nombre y Apellido" class="b-1-hidden b-radius-4 p-10 control">
        </input></div>
        <div class="control-form"><label for="NombreUsuario"> Nombre de usuario:</label>
        <input type="text" name="NombreUsuario" placeholder="Nombre de Usuario" class="b-1-hidden b-radius-4 p-10 control">
      </input></div>
      <div class="control-form"><label for="FechaNacimiento"> Fecha de nacimiento:</label>
      <input type="date" name="FechaNacimiento" placeholder="mm/dd/yy" class="b-1-hidden b-radius-4 p-10 control">
      </input></div>
      <div class="control-form"><label for="Domicilio"> Domicilio:</label>
      <input type="text" name="Domicilio" placeholder="Domicilio" class="b-1-hidden b-radius-4 p-10 control">
      </input></div>
      <div class="control-form"><label for="documento"> Documento:</label>
      <input type="text" name="documento" placeholder="documento" class="b-1-hidden b-radius-4 p-10 control">
      </input></div>
      <div class="control-form"><label for="telefono"> Teléfono:</label>
      <input type="number" name="telefono" placeholder="Teléfono" class="b-1-hidden b-radius-4 p-10 telefono">
      </input></div>
      <div class="control-form"><label for="trabajos"> Qué estas buscando?:</label></div>
         <div><label for="plomeria"> Plomeria:</label>
          <input type="checkbox" name="plomeria" value="plomeria">
          </input></div>
         <div><label for="electricista"> Electricista:</label>
            <input type="checkbox" name="electricista" value="electricista">
            </input></div>
         <div><label for="Pintura"> Pintura:</label>
            <input type="checkbox" name="pintura" value="pintura">
            </input></div>
         <div><label for="ninera"> Niñera:</label>
            <input type="checkbox" name="ninera" value="ninera">
            </input></div>
         <div><label for="gasista"> Gasista :</label>
              <input type="checkbox" name="gasista" value="gasista">
              </input></div>
            <div><label for="limpieza"> Limpieza :</label>
              <input type="checkbox" name="limpieza" value="limpieza">
              </input></div>
    <div class="control-form"> <label for="contrasenia"> Contraseña:</label>
    <input type="password" name="contrasenia" placeholder="contraseña" class="b-1-hidden b-radius-4 p-10  control">
    </input></div>
      <botton type="submit" class=" botton-form">Guardar</botton>
      <botton type="reset" class="  botton-form">Borrar</botton>
    </div>
  </form>
  </main>
    <%- include('./partials/footer') %>
</body>
</html>