<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Easy Fix</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,700&display=swap" rel="stylesheet"/>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/71684982aa.js" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/utils.css" />

    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>
    <%- include('./partials/header') %>
    <main  class="bg-gray flex space-evenly align-center">
      <form action="register.html" method="POST" class="b-orange b-1-hidden b-radius-4 m-20 p-15 creat-form form-field">
        <div class="control-form"> <label for="fotoperfil"> Foto usuario:</label>
        <input type="file" name="fotoperfil" placeholder="fotoperfil" class=" b-1-hidden b-radius-4 p-10 flex flex-wrap">
        </input></div>
        <div class="control-form"> <label for="NombreCompleto"> Nombre y apellido:</label>
        <input type="text" name="Nombre" placeholder="Nombre y Apellido" class="b-1-hidden b-radius-4 p-10 control">
        </input></div>
        <div class="control-form"><label for="NombreUsuario"> Nombre de usuario:</label>
        <input type="text" name="NombreUsuario" placeholder="Nombre de Usuario" class="b-1-hidden b-radius-4 p-10 control">
      </input></div>
      <div class="control-form"><label for="FechaNacimiento"> Fecha de nacimiento:</label>
      <input type="date" name="FechaNacimiento" placeholder="mm/dd/yy" class="b-1-hidden b-radius-4 p-10 control">
      </input></div>
      <div class="control-form"><label for="Domicilio"> Domicilio:</label>
      <input type="text" name="Domicilio" placeholder="Domicilio" class="b-1-hidden b-radius-4 p-10 control">
      </input></div>
      <div class="control-form"><label for="documento"> Documento:</label>
      <input type="text" name="documento" placeholder="documento" class="b-1-hidden b-radius-4 p-10 control">
      </input></div>
      <div class="control-form"><label for="telefono"> Teléfono:</label>
      <input type="number" name="telefono" placeholder="Teléfono" class="b-1-hidden b-radius-4 p-10 telefono">
      </input></div>
      <div class="control-form"><label for="trabajos"> Qué estas buscando?:</label></div>
         <div><label for="plomeria"> Plomeria:</label>
          <input type="checkbox" name="plomeria" value="plomeria">
          </input></div>
         <div><label for="electricista"> Electricista:</label>
            <input type="checkbox" name="electricista" value="electricista">
            </input></div>
         <div><label for="Pintura"> Pintura:</label>
            <input type="checkbox" name="pintura" value="pintura">
            </input></div>
         <div><label for="ninera"> Niñera:</label>
            <input type="checkbox" name="ninera" value="ninera">
            </input></div>
         <div><label for="gasista"> Gasista :</label>
              <input type="checkbox" name="gasista" value="gasista">
              </input></div>
            <div><label for="limpieza"> Limpieza :</label>
              <input type="checkbox" name="limpieza" value="limpieza">
              </input></div>
    <div class="control-form"> <label for="contrasenia"> Contraseña:</label>
    <input type="password" name="contrasenia" placeholder="contraseña" class="b-1-hidden b-radius-4 p-10  control">
    </input></div>
      <botton type="submit" class=" botton-form">Guardar</botton>
      <botton type="reset" class="  botton-form">Borrar</botton>
    </div>
  </form>
  </main>
  <footer class="footer-mobile-tablet w-100">
    <div class="fixed-footer flex flex-nowrap bg-truewhite space-between">
      <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
      <a class="t-d-none black" href="/"><i class="footer-icon fa-solid fa-house w-100"></i></a>
      <p class="footer-header black w-100 text-center">Inicio</p>
      </div>
      <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
        <a class="t-d-none black" href="#"><i class="footer-icon fa-solid fa-heart w-100"></i></a>
        <p class="footer-header black w-100 text-center">Favoritos</p>
      </div>
      <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
        <a class="t-d-none black" href="/carrito"><i class="footer-icon fa-solid fa-cart-shopping w-100"></i></a>
        <p class="footer-header black w-100 text-center">Carrito</p>
      </div>
      <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
        <a class="t-d-none black" href="#"><i class="footer-icon fa-solid fa-bell w-100"></i></a>
        <p class="footer-header black w-100 text-center">Notificaciones</p>
      </div>
      <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
        <a class="t-d-none black" href="#"><i class="footer-icon fa-solid fa-bars w-100"></i> </a>
        <p class="footer-header black w-100 text-center">Mas</p>
      </div>
    </div>
    <%- include('./partials/footer') %> 
</body>
</html>