<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Easy Fix</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,700&display=swap" rel="stylesheet"/>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/71684982aa.js" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/utils.css" />

    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>

      <header class="header-desktop">
        <div class="desktop-header-top flex flex-nowrap align-center p2-8 space-around bg-white">
              <h1 class="w-30">
                  <img class="w-100 m-8" src="/images/LOGO EASY FIX.png" alt="Easy Fix">
              </h1>
              <input class= "search-bar w-50 m-8" type="search" name="Buscar">
              <h2>Promocion</h2>
        </div>
        <div class="desktop-header-buttom flex flex-nowrap space-around bg-white">
          <a class="t-d-none black" href= "/" ><h2 class="desktop-header-buttom-h2">Home</h2></a>
          <a class="t-d-none black" href= "/login" ><h2 class="desktop-header-buttom-h2">Ingresar</h2></a>
          <a class="t-d-none black" href= "/register" ><h2 class="desktop-header-buttom-h2">Registrarse</h2></a>
          <a class="t-d-none black" href= "/carrito" ><h2 class="desktop-header-buttom-h2">Carrito</h2></a>
          <a class="t-d-none black" href= "#" ><h2 class="mas-buttom desktop-header-buttom-h2">Mas</h2></a>
        </div>
      </header>
      <header class="mobile-tablet-header">
          <div class="nav-bar-top  flex flex-nowrap  align-center p2-8 bg-white ">
              <h1 class="w-50">
                  <img class="w-100 m-8" src="/images/LOGO EASY FIX.png" alt="Easy Fix">
              </h1>
              <input class= "search-bar w-50 m-8" type="search" name="Buscar">
          </div>
          <nav class="nav-bar-bottom  p-b-10 b-gradient">
              <ul class="flex flex-nowrap space-around align-center">
                <div class=" flex flex-wrap m-8 align-center center ">
                <li class="l-s-none b-1-hidden shadow " ><a class="t-d-none black" href= "#funciona" ><i class="fa-solid fa-question"></i></a></li>
                <p class=" f-w-700 f-9  m-t-8 w-100 text-center">¿Como funciona?</p>
                </div>
                <div class=" flex flex-wrap m-8 align-center center ">
                <li class="l-s-none b-1-hidden shadow " ><a class="t-d-none black" href="#"> <i class="fa-solid fa-magnifying-glass-dollar"></i></a></li>
                <p class=" f-w-700 f-9  m-t-8 w-100 text-center">Ofertas</p>
                </div>
                <div class=" flex flex-wrap m-8 align-center center ">
                <li class="l-s-none b-1-hidden shadow"><a class="t-d-none black" href="/login"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                <p class=" f-w-700 f-9  m-t-8 w-100 text-center">Ingresa</p>
                </div>
                <div class=" flex flex-wrap m-8 align-center center">
                <li class="l-s-none b-1-hidden shadow" ><a class="t-d-none black" href="/register"><i class="fa-solid fa-address-card"></i></a></li>
                <p class=" f-w-700 f-9  m-t-8 w-100 text-center">registrate</p>
                </div>
                <div class=" flex flex-wrap m-8 align-center center">
                  <li class="l-s-none b-1-hidden shadow" ><a class="t-d-none black" href="/worker-register"><i class="fa-solid fa-upload"></i></a></li>
                  <p class=" f-w-700 f-9  m-t-8 w-100 text-center">Ofrecer servicio</p>
                  </div>
              </ul>
          </nav>
      </header>
      <main class="bg-grey">
        <div class="b-orange p-10 m-10-auto w-95 b-radius-4 b-1-hidden">
            <h1 class="text-center">Perfil del trabajador</h1>
            <form class="flex flex-wrap space-between">
                <article class="w-25 m-10-auto">
                    <div class="text-center">
                        <input type="file" name="foto-usuario" id="foto-usuario" accept="image/*" class="bg-truewhite form-input file-input">
                        <label for="foto-usuario" class="f-15 desc">
                            <img for="foto-usuario" src="/images/avatar.jpeg" class="w-85 b-radius-100 shadow">
                            *Elige una foto de usuario</label>
                    </div>
                    <div class="m-t-30 text-center">
                        <input type="file" name="foto-cv" id="foto-cv" accept=".pdf, .docx" class="bg-truewhite form-input file-input" >
                        <label for="foto-cv" class="f-15 desc b-2 p-5 b-radius-4"><i class="fas fa-upload p-2 f-30"></i>*Agrega tu CV</label>
                    </div>
                </article>
                <article class="m-2 w-70">
                    <div class="flex flex-wrap mb-10 w-85">
                        <input type="text" name="nombre-completo" placeholder="Nombre y Apellido" class="bg-truewhite form-input">
                    </div>
                    <div class="flex flex-wrap mb-10 w-85">
                        <input type="number" name="dni" placeholder="DNI" class="form-input bg-truewhite">
                    </div>
                    <div class="flex flex-wrap mb-10 w-85">
                        <input type="email" name="email" placeholder="Email" class="form-input bg-truewhite">
                    </div>
                    <div class="flex flex-wrap mb-10 w-85">
                        <input type="text" name="zona-residencia" placeholder="Zona de residencia. Ej: Calle 1234" class="form-input bg-truewhite" >
                    </div>
                    <div class="flex flex-wrap mb-10 w-85">
                        <select class="form-input bg-truewhite">
                            <option selected>*Elige una profesión </option>
                            <option>Albañil</option>
                            <option>Electricista</option>
                            <option>Gasista</option>
                            <option>Jardinería</option>
                            <option>Mudanza</option>
                            <option>Niñera</option> 
                            <option>Pintor</option>
                            <option>Plomero</option>
                            <option>Limpieza</option>
                            <option>Seguridad</option>
                            <option>Técnico de A/C</option>
                            <option>Técnico de PC</option>
                            <option>Otros</option>
                        </select>
                    </div>
                    <div class="flex flex-wrap space-between mb-10">
                        <h4 class="w-100 mb-5">Aptitudes</h4>
                        <div class="flex flex-wrap w-40 fg-1"> 
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Carpintería
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Tecnología
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Electricidad
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Cocina
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Tareas domésticas
                            </label>
                        </div>
                        <div class="flex flex-wrap w-40 fg-1"> 
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Arreglos Hogar
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Pintura
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Computación
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Transporte
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Idiomas
                            </label>
                        </div>
                    </div>
                    <div class="m-5 flex flex-wrap space-between fg-1">
                        <textarea class="grey bg-truewhite w-100 form-input" placeholder="Contanos más sobre vos!"></textarea>
                    </div>
                    <div class="flex flex-wrap space-between w-100 m-t-30">
                        <button type="submit" class="m-auto b-radius-4 bg-grey b-1-hidden f-15 p-5-10 w-40" >Enviar</button>
                        <button type="delete" class="m-auto b-radius-4 bg-grey b-1-hidden f-15 p-5-10 w-40">Borrar</button>
                    </div>
                </article>
            
                
            </form>
        </div>
      </main>
      <footer class="footer-mobile-tablet w-100">
        <div class="fixed-footer flex flex-nowrap bg-truewhite space-between">
          <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
          <a class="t-d-none black" href="/"><i class="footer-icon fa-solid fa-house w-100"></i></a>
          <p class="footer-header black w-100 text-center">Inicio</p>
          </div>
          <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
            <a class="t-d-none black" href="#"><i class="footer-icon fa-solid fa-heart w-100"></i></a>
            <p class="footer-header black w-100 text-center">Favoritos</p>
          </div>
          <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
            <a class="t-d-none black" href="/carrito"><i class="footer-icon fa-solid fa-cart-shopping w-100"></i></a>
            <p class="footer-header black w-100 text-center">Carrito</p>
          </div>
          <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
            <a class="t-d-none black" href="#"><i class="footer-icon fa-solid fa-bell w-100"></i></a>
            <p class="footer-header black w-100 text-center">Notificaciones</p>
          </div>
          <div class="footer-div-icon flex flex-wrap w-25 align-center p-10 center">
            <a class="t-d-none black" href="#"><i class="footer-icon fa-solid fa-bars w-100"></i> </a>
            <p class="footer-header black w-100 text-center">Mas</p>
          </div>
        </div>
      </footer>
       <footer class="footer-desktop flex flex-nowrap bg-white">
        <div class="footer-left w-30 p-10 b-r-4">
          <img class="w-100" src="/images/LOGO EASY FIX.png">
          <div class="redes-sociales felx wrap text-center">
          <i class="icon-redes-sociales fa-brands fa-twitter w-100 m-8"></i>
          <i class=" icon-redes-sociales fa-brands fa-instagram w-100 m-8"></i>
          <i class=" icon-redes-sociales fa-brands fa-facebook w-100 m-8"></i>
          </div>
        </div>
        <section class="footer-right w-70 p-10 flex flex-wrap ">
          <article class="footer-artice m-10 w-100 flex flex-wrap center">
            <i class="icon-footer-article fa-solid fa-shield-halved  m-8 w-100 text-center" ></i>
            <h2>Compras protegidas</h2>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ducimus laudantium porro. Ex ipsam corrupti cumque enim molestias eligendi ipsa, aspernatur molestiae quisquam perspiciatis labore eos voluptate. Accusantium, voluptate aperiam.</p>
          </article>
          <article class="footer-artice m-10 w-100 flex flex-wrap center">
            <i class=" icon-footer-article fa-solid fa-certificate  m-8 w-100 text-center"></i>
            <h2>Profesionales verificados</h2>
            <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sapiente et, aut consectetur eveniet quam sequi officiis incidunt ab ducimus similique, magnam amet fuga iste maiores nesciunt tempora ex. Nemo!</p>
          </article>
          <article class="footer-artice m-10 w-100 end flex flex-nowrap end align-end">
            <p class="copyright opacity">Copyright © 2022 EasyFix S.R.L.</p>
          </article>
          </section>
      </footer> 
</body>
</html>