<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/utils.css" />

    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>
      <%- include('./partials/header') %>
      <main class="bg-gray p-30">
        <div class="b-orange p-10 w-95 b-radius-4 b-1-hidden">
            <h1 class="text-center">Perfil del trabajador</h1>
            <form class="flex flex-wrap space-between">
                <article class="w-25 m-10-auto">
                    <div class="text-center">
                        <input type="file" name="foto-usuario" id="foto-usuario" accept="image/*" class="bg-truewhite form-input file-input">
                        <label for="foto-usuario" class="f-15 desc">
                            <img for="foto-usuario" src="/images/avatar.jpeg" class="w-85 b-radius-100 shadow">
                            *Elige una foto de usuario</label>
                    </div>
                    <div class="m-t-30 text-center">
                        <input type="file" name="foto-cv" id="foto-cv" accept=".pdf, .docx" class="bg-truewhite form-input file-input" >
                        <label for="foto-cv" class="f-15 desc b-2 p-5 b-radius-4"><i class="fas fa-upload p-2 f-30"></i>*Agrega tu CV</label>
                    </div>
                </article>
                <article class="m-2 w-70">
                    <div class="flex flex-wrap mb-10 w-85">
                        <input type="text" name="nombre-completo" placeholder="Nombre y Apellido" class="bg-truewhite form-input">
                    </div>
                    <div class="flex flex-wrap mb-10 w-85">
                        <input type="number" name="dni" placeholder="DNI" class="form-input bg-truewhite">
                    </div>
                    <div class="flex flex-wrap mb-10 w-85">
                        <input type="email" name="email" placeholder="Email" class="form-input bg-truewhite">
                    </div>
                    <div class="flex flex-wrap mb-10 w-85">
                        <input type="text" name="zona-residencia" placeholder="Zona de residencia. Ej: Calle 1234" class="form-input bg-truewhite" >
                    </div>
                    <div class="flex flex-wrap mb-10 w-85">
                        <select class="form-input bg-truewhite">
                            <option selected>*Elige una profesión </option>
                            <option>Albañil</option>
                            <option>Electricista</option>
                            <option>Gasista</option>
                            <option>Jardinería</option>
                            <option>Mudanza</option>
                            <option>Niñera</option> 
                            <option>Pintor</option>
                            <option>Plomero</option>
                            <option>Limpieza</option>
                            <option>Seguridad</option>
                            <option>Técnico de A/C</option>
                            <option>Técnico de PC</option>
                            <option>Otros</option>
                        </select>
                    </div>
                    <div class="flex flex-wrap space-between mb-10">
                        <h4 class="w-100 mb-5">Aptitudes</h4>
                        <div class="flex flex-wrap w-40 fg-1"> 
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Carpintería
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Tecnología
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Electricidad
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Cocina
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Tareas domésticas
                            </label>
                        </div>
                        <div class="flex flex-wrap w-40 fg-1"> 
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Arreglos Hogar
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Pintura
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Computación
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Transporte
                            </label>
                            <label class="w-100"><input type="checkbox" name="aptitudes">
                                Idiomas
                            </label>
                        </div>
                    </div>
                    <div class="m-5 flex flex-wrap space-between fg-1">
                        <textarea class="grey bg-truewhite w-100 form-input" placeholder="Contanos más sobre vos!"></textarea>
                    </div>
                    <div class="flex flex-wrap space-between w-100 m-t-30">
                        <button type="submit" class="m-auto b-radius-4 bg-grey b-1-hidden f-15 p-5-10 w-40" >Enviar</button>
                        <button type="delete" class="m-auto b-radius-4 bg-grey b-1-hidden f-15 p-5-10 w-40">Borrar</button>
                    </div>
                </article>
            
                
            </form>
        </div>
      </main>
      <%- include('./partials/footer') %>
  </body>
  </html>