
/* Header*/

.header-desktop {
    display: none
}
.nav-bar-bottom ul li {
    border-radius: 50%;
    padding: 8px 13px;
    background-color: #ece5dd;
}
.nav-bar-bottom ul li a {
    color: #575757b7;
    font-weight: 600;
}
body {
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}
.search-bar {
    border: solid 2px rgb(179, 179, 179);
    border-radius: 4px;
}
 /* Header Desktop */
@media (min-width: 769px) {
    body{
        margin-bottom: 0;
    }
    .mobile-tablet-header {
        display: none;
    }
    .header-desktop {
        display: block;
    }
    .desktop-header-buttom {
        padding-bottom: 8px;
    }
    .desktop-header-buttom-h2 {
        padding: 5px;
        border: hidden;
        border-radius: 4px;
    }

    .menu-desplegable {
        position: absolute;
        top: 182px;
        right: -100%;
        width: 40%;
        flex-direction: column;
        border: solid 2px rgb(90, 90, 90)
    }

/*Animaciones Header Desktop */

.desktop-header-buttom-h2:hover {
    background-color: rgb(170, 158, 145);
}
.desktop-header-buttom-h2:hover {
    transition: all 500ms
}
/*
.mas-buttom:hover .menu-desplegable {
    right: 100%;
}
.menu-desplegable {
    transition: all 1s;
}
*/
}
    

/* Main */
.categorias {
    background-color: #ece5dd;
    border-radius: 14px;
}
.heading {
    background-color: #ffc786;
    border-radius: 8px;
}
.article {
    background-color: white;
    border-radius: 8px;
}

/* Footer mobile */

.footer-desktop {
    display: none;
}
.footer-mobile-tablet {
    position: fixed;
    bottom: 0px;
    border-top : solid 1px rgb(179, 179, 179)
}

.footer-icon {
    margin: 5px;
}
.footer-header {
    font-size: 11px;
}



/* Footer-desktop */

@media (min-width: 769px)
{
    .footer-mobile-tablet {
        display: none
    }

.footer-desktop {
    display: flex;
    border-top: hidden;
    border-radius: 4px;
}
.footer-left {
    border-color: white;
}
.copyright {
    font-size: 8px
}
.icon-redes-sociales {
    font-size: x-large;
    margin-bottom: 20px;
}
.icon-footer-article {
    font-size: xx-large;
}

/* Animaciones footer-desktop */

.icon-redes-sociales:hover {
    color: #fdac4e;
}
.icon-redes-sociales {
    transition: all 500ms
}

.icon-footer-article:hover {
    color: #fdac4e;
}
.icon-footer-article {
    transition: all 500ms
}

}

/* formulario */

.control-form label{
    margin-bottom: 5px;
    margin-top:5px;
    font-style:monserrat regular 400;
    display:block;
    font-weight:700;
}
.control{
    width:100%;
    padding: 8px 8px;
}
.botton-form{
background-color: #ff9900;
border:none;
font-size:16px;
color:black;
padding: 5px 10px;
border-radius:10%;
margin-top:10px;
}

/*Boton para escribir algo de input*/
.form-input {
    border-color: #ebebeb;
    width: 100%;
    border-radius: 5px;
    padding: 8px;
}

/* Boton agregar un archivo */
.file-input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* Texto subida de archivos */
.desc{
    text-decoration: underline;
    font-weight: lighter;
    color:gray;
}



.logo {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}
.logo img {
    height: auto;
    width: 100%;
}

.container {
    background: linear-gradient(to bottom, #ffc786, white);
    justify-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); */
   
    /* display: flex;
    flex-wrap: wrap; */
    
}
.card {
    width: 80%;
    margin: 15px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgb(218, 213, 223);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition:  all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2%);
}
.card img {
    width: 100%;
    height: 150px; 
    object-fit:fill;
}
.card .contenido{
    padding: 15px;
    text-align: center;
}
.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
    text-align: start;
    font-size: 18px;
}
.card .contenido h4{
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 24px;
}
.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
    color: #2fb4cc;
    border: 1px solid; 
    margin: 20px 0;
}
.card .contenido a:hover{
    background-color: #2fb4cc;
    color: #fff;
}



/* CSS TARJETAS DE COMENTARIOS*/ 
.comentarios {
    background: linear-gradient(to bottom, #ffc786, white);
    justify-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-contenedor{
    background-color: #d6e4ed;
    width: 80%;
    border-radius: 6px;
    box-shadow:  0px 3px 10px rgba(31, 31, 31, .1);
    display: flex;
    margin: 5px auto;
    padding: 15px;
}
@media (min-width: 481px) {
    .card {
        width:40%;
    }
}

@media (min-width: 769px) {
    .card {
        width: 25%;
    }
    .card-contenedor{
        width: 45%;
    }
    .card-container {
        width: 30%;
    }
}
.img-contenedor {
    width: 40%;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.img-contenedor img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.text-contenedor {
    width: 60%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.text-contenedor h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
}
.titulo {
    height: 20%;
    font-size: 18px;  
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}
.descripcion {
    height: 60%;
    color: rgb(24, 24, 24);
    font-size: 16px;
    text-align: justify;
    padding: 5px 0;
}
.estrellas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    
}
.estrellas i{
    font-size: 15px;
    color: black;
    padding: 10px 5px;
    transition: all 1 ease-in;
    color: goldenrod;
    
}

/* CSS TARJETAS DE COMO FUNCIONA */
.tarjetas {
    background: linear-gradient(to bottom, #ffc786, white);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-around;
}
.cabecera h1 {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}
.cabecera {
    display: block;
    width: 80%;
    text-align: justify;
    padding: 10px;
    margin-bottom: 20px;
}
.tarjeta {
    background: linear-gradient(45deg, #394074, rgb(62, 82, 195), #2fb4cc);
    width: 250PX;
    height: min-content;
    border-radius: 6px;
    box-shadow:  0px 3px 10px rgba(31, 31, 31, .1);
    margin: 5px     ;
    padding: 15px;
    margin-bottom: 20px;
}
.imagen {
    width: 100%;
    height: 100%;
}
.imagen img {
    width: 100%;
    height: 200px;
}
.titular {
    height: 20%;
    font-size: 16px; 
    justify-content: center;
    text-align: center;
    padding: auto    ;
}
.titular h3{
    padding: 10px 20px;
    line-height:50px;
}

/* CSS PRODUCT-DETAIL*/

.container-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    background: linear-gradient(to bottom, #ffc786, white); */
}
.card-container{
    background-color: antiquewhite;
    width: 290px;
    border-radius: 6px;
    box-shadow:  0px 3px 10px rgba(31, 31, 31, .1);
    display: flex;
    margin: 20px auto;
    padding: 15px;

}
.img-container {
    width: 40%;
}
.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px ;
}
.text-container {
    width: 60%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.text-container h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}
.title {
    font-size: 18px;  
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}
.description {
    color: rgb(24, 24, 24);
    font-size: 16px;
    text-align: justify;
}
.icon {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.icon i{
    font-size: 15px;
    color: black;
    padding: 0 15px;
    transition: all 1 ease-in;
}