<div class=" col-xl-3 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark justify-content-center">
    <div class="d-flex justify-content-center  text-white text-decoration-none ">
      <span class="fs-4">Mi Cuenta</span>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
          <ul><li><a href="/user/account" class="nav-link text-white">Mis datos</a></li></ul>
          <ul><li><a href="/user/add-service" class="nav-link text-white">Agregar servicios</a></li></ul>
          <ul><li><a href="/user/my-service" class="nav-link text-white">Mis servicios</a></li></ul>
          <ul><li><a href="/user/service-pending" class="nav-link text-white">Servicios solicitados</a></li></ul>
          <ul><li><a href="/user/notifications" class="nav-link text-white">Notificaciones</a></li></ul>
          <ul><li><a href="/user/frequent-questions" class="nav-link text-white">Preguntas frecuentes</a></li></ul>
          <ul><li><a href="/auth/logout" class="nav-link text-white">Cerrar sesion</a></li></ul>
      </li>
    </ul>
  </div>